// Main color
$baseFontColor: #000000;
$default-color: #ffffff;
$header-color: #777777;
$orange-color: #d8aa46;
$red-color: #ff0000;

//base font
$mainFont: 'Open Sans', sans-serif;
$baseFontSize: 16;
$mainLineHeight: 1.4;
/* Media queries */
$extraSmall: 340px;
$smallPhone: 400px;
$middlePhone: 440px;
$bigPhone: 480px;
$mobile: 600px;
$smallTablet: 768px;
$bigTablet: 1024px;
$smallDesktop: 1120px;
$desktop: 1280px;
$middleDesktop: 1366px;
$bigDesktop: 1400px;
$largeDesktop: 1600px;
$extraDesktop: 1920px;
